name: Release Helm Charts

on:
  push:
    branches:
      - 'main'
    paths:
      - 'charts/Chart.yaml'
      - 'charts/values.yaml'

jobs:
  lint:
    if: "github.actor == 'github-actions[bot]' && contains(github.event.head_commit.message, 'ci: prod release')"
    permissions:
      contents: read
      pull-requests: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.5.4

      - name: Lint Charts
        run: |
          for dir in $(ls -d charts/*/); do
          # remove trailing slash from dir
            dir=$(echo $dir | sed 's:/*$::')
            helm lint $dir -f $dir/values.yaml --strict || exit 1
          done

  version-check:
    name: Version check
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Step to read version from Chart.yaml in openstad-headless
      - name: Read openstad-headless Chart version
        id: read-headless-version
        run: |
          HEADLESS_VERSION=$(grep '^version:' charts/openstad-headless/Chart.yaml | awk '{print $2}')
          echo "HEADLESS_VERSION=$HEADLESS_VERSION" >> $GITHUB_ENV

        # Get all releases from openstad-headless repository
      - name: Get releases and check if current version exists
        id: get-releases
        run: |
          RELEASES=$(curl -s "https://api.github.com/repos/openstad/openstad-headless/releases" | jq -r '.[].tag_name')
          echo "RELEASES=$RELEASES" >> $GITHUB_ENV
          if echo "$RELEASES" | grep -q "^v${{ env.HEADLESS_VERSION }}$"; then
              echo "Error: version ${{ env.HEADLESS_VERSION }} already exists in openstad-headless releases."
              exit 1
          fi
          echo "Version ${{ env.HEADLESS_VERSION }} does not exist in releases."

  release:
    needs: lint
    if: "github.actor == 'github-actions[bot]' && contains(github.event.head_commit.message, 'ci: prod release')"
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.5.4

      - name: Helm Deps
        run: |
          for dir in $(ls -d charts/*/); do
            helm dependency list $dir 2> /dev/null | tail +2 | head -n -1 | awk '{ print "helm repo add " $1 " " $3 }' | while read cmd; do $cmd; done
          done

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.6.0
        env:
          CR_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
          CR_GENERATE_RELEASE_NOTES: true
          CR_RELEASE_NAME_TEMPLATE: 'v{{ .Version }}'
        with:
          charts_dir: charts
